//Global css variable value
$primary_bg: #F6BB19;
$light_bg: #fffdf4;
$dark_bg: #eed9c3;
$second_bg: #f5f2e7;

$primary_text: #F6BB19;
$gray_text: #949292;

$shadow: 0 0 5px #aaa0a0;

$padding_lg: 180px;
$padding_md: 120px;
$padding_sm: 50px;
$padding_xs: 20px;

$border_radius: 5px;
