//Global css variable value
$primary_bg: #48b4b1;
$light_bg: #fffdf4;
$orange_bg: #fad899;
$second_bg: #88c4c3;

$primary_text: #48b4b1;
$gray_text: #797687;
$dark_text: #2b2350;

$shadow: 0 0 5px #aaa0a0;

$padding_lg: 180px;
$padding_md: 120px;
$padding_sm: 50px;
$padding_xs: 20px;

$border_radius: 5px;
