.skill {
  background-color: $second_bg;
  .title {
    transform: scale(0.9);
    text-align: center;
  }
  .subtitle {
    transform: scale(0.9);
    text-align: center;
  }
  .main-area {
    display: flex;
    flex-direction: column;
    .skill-top {
      display: flex;
      justify-content: center;
    }
    .skill-bottom {
      display: flex;
      justify-content: center;
    }
    .skill-block {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 33%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      margin: 10px;
      border-radius: $border_radius;
      img {
        border-radius: $border_radius;
        width: 100%;
        height: 100%;
      }
      .skill-inner {
        width: calc(100% - 100px);
        padding: 50px 50px 0;
        position: absolute;
        .skill-name {
          font-size: 24px;
          font-weight: 600;
          margin: 7.5px 0 5px;
        }
        .skill-text {
          font-size: 14px;
        }
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}
